<div>
    <form class="form-container" #loginForm = "ngForm">
        <h2>Login</h2>
        <div>
            <label> User Name:</label><br>
            <input type="text"ngModel #userName="ngModel" name="userName" required><br>
            <span *ngIf="userName?.errors?.['required']" class="error">User Name is required</span>
        </div>
        <div>
            <label>Password:</label><br>
            <input type="text" #password="ngModel" ngModel name="password">
            <span *ngIf="password.errors?.['required']">password is required</span>
        </div>
        <br>
        <div>
            <button (click)="Submit(loginForm.value)">Submit</button>
        </div>
        <br>
        <div>
            Not an account? Create Account.
        </div>
    </form>
</div>
